*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:  #ffffff;
}

i{
    text-decoration: none;
    color:  #ffffff;
    font-size: small;
}
p{
    padding-top: 2px;
}

ul{
    
}
ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 40px;
}
ul li a{
    text-decoration: none;
    color:  #ffffff;
    padding: 0 2px;
}
ul li a:hover{
    color:   #ffafe6;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgb(125, 255, 255);

}

nav{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    position: fixed; 

}
.nav a:hover{
    color: #ff73da;
    transition: all ease 0.1s;
}
foot{
    font-size: small;
    width: 100%;
    padding: 20px; 
    text-align: center;
    position: fixed;
    bottom: 0;
}
footer{
    font-size: small;
    width: 100%;
    padding: 20px; 
    text-align: center;
    position: relative;
    bottom: 0;
}



/*--blog---------------------------------------*/

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.blog-heading{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #ff73dab5;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #ff73da;
    font-weight: 600;
}

.blog-container{
    border: solid rgba(155, 255, 125, 0.459) 40px;
    border-radius: 90px;
    display: flex;
    max-width: 800px;
    /*justify-content: center;*/
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap; 
    background-color: rgb(206, 255, 186);
}
.blog-box{
    border-radius: 20px;
}
.blog-img{
    width: 100%;
    height: auto;   
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}


.blog-text{
    padding: 25px;
    display: flex;
    flex-direction: column;
       
}
.blog-text span{
    color: #ffafe6;
    font-size: 0.9rem; 
}
.blog-text .blog-title{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}
/*
.blog-text .blog-title:hover{
    color: #ff73da;
    transition: all ease 0.1s;
}
*/

.blog-text p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 2px 0px;
}
.blog-text a{
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
}
/*
.blog-text a:hover{
    color: #ff73da;
    transition: all ease 0.2s;
}
*/

.about-text{
    color:  rgba(0, 0, 0, 0.7);
    
}

 @media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
 }
 @media(max-width:1100px){
    .blog-box{
        width:70%;
    }
 }
 @media(max width: 550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;

    }
    #blog{
        padding: 20px;
    }
 }
#frm{
    border: solid rgba(155, 255, 125, 0.459) 40px;
    border-radius: 90px;
    margin: 20px auto;
    background: rgb(206, 255, 186);
    padding: 30px;
    align-items: center;
    display: flex;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap; 


}

#btn{
    border: solid gray 0px;
    color:#fff;
    background: #ffafe6;
    padding: 12px;
    margin-top: 10px;
    margin-left: 65%;
    border-radius: 5px;

}
#:hover{
    background:  #ffafe6a6;
}

#about_frame{
    border: solid rgba(155, 255, 125, 0.459) 40px;
    width: 600px;
    height: flex;
    border-radius: 90px;
    margin: 20px auto;
    background: rgb(206, 255, 186);
    padding: 30px;
}

